---
title: "Team"
layout: default
excerpt: "DISys Lab: Team members"
sitemap: false
permalink: /team/
---
<!--
<h1>{{page.title}}</h1>
-->

<!-- Staff -->

<h2><a id="staff"></a>Lab Lead</h2>
{% assign members = site.posts | where: 'category', 'director' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="filter: max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}


<!-- PhD Students -->

<h2><a id="phd-student"></a>PhD Students</h2>
{% assign members = site.posts | where: 'category', 'phd-student' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="filter: max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
</div>

{% endfor %}


<!-- MS Students -->

<h2><a id="masters-student"></a>Masters Students</h2>
{% assign members = site.posts | where: 'category', 'masters-student' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="img-fluid img-thumbnail"
                    style="width: 120px; height: 120px; object-fit: cover; border-radius: 8px;" />
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
</div>

{% endfor %}

<!-- BS Students -->

<h2><a id="undergraduate-student"></a>Undergraduate Students</h2>
{% assign members = site.posts | where: 'category', 'undergraduate-student' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="filter: max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
</div>

{% endfor %}


<!-- Lab Alumni -->

<h2><a id="alumni"></a>Alumni</h2>
{% assign members = site.posts | where: 'category', 'alumni' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
<!--        <div class="col-md-2">-->
<!--            <a href={{member.url}}>-->
<!--                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"-->
<!--                    class="card-img img-responsive img-thumbnail"-->
<!--                    style="filter: grayscale(100%); max-width: 100px;"/>-->
<!--            </a>-->
<!--        </div>-->

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}, {{ member.role }}, {{ member.gradyear}}</h4>
            <p class="card-text">{{ member.thtitle }}</p>
                <p class="card-text">{{ member.currentpos }}</p>
            </div>
        </div>
    </div>
</div>

{% endfor %}