---
title: "Publications"
layout: default
excerpt: "RT2 Lab -- Publications."
sitemap: false
permalink: /publications/
---
<h1>Preprints</h1>

<!--<div class="panel-group" id="accordion-preprint">-->
<!--    <div class="panel panel-default">-->

<!--    {% for prepr in site.data.preprints %}-->
<!--        <div class="panel-heading">-->
<!--            <a data-toggle="collapse" data-parent="#accordion-preprint"-->
<!--               href="#collapse-preprint{{forloop.index}}"-->
<!--               style="color: inherit;">-->
<!--            &lt;!&ndash; authors &ndash;&gt;-->
<!--            {% assign authors = "" | split:"/" %}-->
<!--            {% for author in prepr.author %}-->
<!--                {% assign authors = authors | push: author.family %}-->
<!--            {% endfor %}-->
<!--            {{ authors | array_to_sentence_string }},-->

<!--            &lt;!&ndash; title with link &ndash;&gt;-->
<!--            "{{ prepr.title }}",-->

<!--            &lt;!&ndash; container &ndash;&gt;-->
<!--            <b>{{ prepr.container-title }}</b>-->

<!--            &lt;!&ndash; issued date &ndash;&gt;-->
<!--            ({{ prepr.issued.date-parts | jsonify | slice: 3,4 }}),-->

<!--                &lt;!&ndash; status (if exists) &ndash;&gt;-->
<!--            {% if prepr.status %}-->
<!--                — <span style="font-weight: bold; color: #b55300;">-->
<!--                    {{ prepr.status }}-->
<!--                  </span>-->
<!--            {% endif %}-->

<!--            &lt;!&ndash; link &ndash;&gt;-->
<!--                <a href="{{prepr.link}}">Link</a>-->
<!--&lt;!&ndash;            {% if prepr.link %}&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="{{prepr.link}}"></a>&ndash;&gt;-->
<!--&lt;!&ndash;            {% endif %}&ndash;&gt;-->
<!--            </a>-->
<!--        </div>-->

<!--&lt;!&ndash;        <div id="collapse-preprint{{forloop.index}}" class="panel-collapse collapse">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="panel-body">&ndash;&gt;-->
<!--&lt;!&ndash;                <p>{{ prepr.abstract }}</p>&ndash;&gt;-->

<!--&lt;!&ndash;                <a class="btn btn-outline-primary" href="{{prepr.link}}"&ndash;&gt;-->
<!--&lt;!&ndash;                   role="button" target="blank">Link</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--    {% endfor %}-->
<!--    </div>-->
<!--</div>-->

<div class="panel-group" id="accordion-preprint">
    <div class="panel panel-default">

    {% for prepr in site.data.preprints %}
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion-preprint"
               href="#collapse-preprint{{forloop.index}}"
               style="color: inherit;">

            <!-- authors -->
            {% assign authors = "" | split:"/" %}
            {% for author in prepr.author %}
                {% assign authors = authors | push: author.family %}
            {% endfor %}
            {{ authors | array_to_sentence_string }},

            <!-- title with link -->
            "{{ prepr.title }}",

            <!-- container -->
            <b>{{ prepr.container-title }}</b>

            <!-- issued date -->
            ({{ prepr.issued.date-parts | jsonify | slice: 3,4 }})

            <!-- status (if exists) -->
            {% if prepr.status %}
                — <span style="font-weight: bold; color: #b55300;">
                    {{ prepr.status }}
                  </span>
            {% endif %}

            <!-- link -->
            <a href="{{prepr.link}}">Link</a>

            </a>
        </div>
    {% endfor %}

    </div>
</div>


<h1>Peer-Reviewed Conference Publications</h1>

<div class="panel-group" id="accordion-conf-publications">
    <div class="panel panel-default">

    {% for publi in site.data.conferencepubs %}
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion-conf-publications"
               href="#collapse{{forloop.index}}"
               style="color: inherit;">
            <!-- authors -->
            {% assign authors = "" | split:"/" %}
            {% for author in publi.author %}
                {% assign authors = authors | push: author.family %}
            {% endfor %}
            {{ authors | array_to_sentence_string }},

            <!-- title with link -->
            "{{ publi.title }}",

            <!-- container -->
            <b>{{ publi.container-title }}</b>

            <!-- issued date -->
            ({{ publi.issued.date-parts | jsonify | slice: 3,4 }}),

            <!-- link -->
<!--                {% if publi.link %}-->

                <a href="{{publi.link}}">Link</a>
<!--            {% endif %}-->

<!--            {% if publi.DOI %}-->
<!--                <a href="https://doi.org/{{publi.DOI}}">DOI:{{publi.DOI}}</a>-->
<!--            {% endif %}-->
            </a>
        </div>

<!--        <div id="collapse{{forloop.index}}" class="panel-collapse collapse">-->
<!--            <div class="panel-body">-->
<!--                <p>{{ publi.abstract }}</p>-->

<!--                <a class="btn btn-outline-primary" href="{{publi.link}}"-->
<!--                   role="button" target="blank">Link</a>-->
<!--            </div>-->
<!--        </div>-->
    {% endfor %}
    </div>
</div>


<h1>Journal Publications</h1>

<div class="panel-group" id="accordion-publications">
    <div class="panel panel-default">

    {% for publi in site.data.publications %}
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion-publications"
               href="#collapse{{forloop.index}}"
               style="color: inherit;">
            <!-- authors -->
            {% assign authors = "" | split:"/" %}
            {% for author in publi.author %}
                {% assign authors = authors | push: author.family %}
            {% endfor %}
            {{ authors | array_to_sentence_string }},

            <!-- title with link -->
            "{{ publi.title }}",

            <!-- container -->
            <b>{{ publi.container-title }}</b>

            <!-- issued date -->
            ({{ publi.issued.date-parts | jsonify | slice: 3,4 }}),

            <!-- link -->
<!--                {% if publi.link %}-->

                <a href="{{publi.link}}">Link</a>
<!--            {% endif %}-->

<!--            {% if publi.DOI %}-->
<!--                <a href="https://doi.org/{{publi.DOI}}">DOI:{{publi.DOI}}</a>-->
<!--            {% endif %}-->
            </a>
        </div>

<!--        <div id="collapse{{forloop.index}}" class="panel-collapse collapse">-->
<!--            <div class="panel-body">-->
<!--                <p>{{ publi.abstract }}</p>-->

<!--                <a class="btn btn-outline-primary" href="{{publi.link}}"-->
<!--                   role="button" target="blank">Link</a>-->
<!--            </div>-->
<!--        </div>-->
    {% endfor %}
    </div>
</div>


<h1>Patents</h1>

<div class="panel-group" id="accordion-patents">
    <div class="panel panel-default">

    {% for publi in site.data.patents %}
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion-patents"
               href="#collapse{{forloop.index}}"
               style="color: inherit;">
            <!-- authors -->
            {% assign authors = "" | split:"/" %}
            {% for author in publi.author %}
                {% assign authors = authors | push: author.family %}
            {% endfor %}
            {{ authors | array_to_sentence_string }},

            <!-- title with link -->
            "{{ publi.title }}",

            <!-- container -->
            <b>{{ publi.container-title }}</b>

            <!-- issued date -->
            ({{ publi.issued.date-parts | jsonify | slice: 3,4 }}),

            <!-- link -->
<!--                {% if publi.link %}-->

                <a href="{{publi.link}}">Link</a>
<!--            {% endif %}-->

<!--            {% if publi.DOI %}-->
<!--                <a href="https://doi.org/{{publi.DOI}}">DOI:{{publi.DOI}}</a>-->
<!--            {% endif %}-->
            </a>
        </div>

<!--        <div id="collapse{{forloop.index}}" class="panel-collapse collapse">-->
<!--            <div class="panel-body">-->
<!--                <p>{{ publi.abstract }}</p>-->

<!--                <a class="btn btn-outline-primary" href="{{publi.link}}"-->
<!--                   role="button" target="blank">Link</a>-->
<!--            </div>-->
<!--        </div>-->
    {% endfor %}
    </div>
</div>